body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('Images/pexels-photo-185762.jpeg')no-repeat center center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2{
    color: white;
}

div.navbar {
    background: linear-gradient(red, yellow);
    border-color: aquamarine;
    color: greenyellow;
}


.navbar-inverse .navbar-nav > li > a {
    color: #790ade;
}

a{
    color:crimson;
}

div.thumbnail {
 
    background: radial-gradient(lightpink, white);
    border-bottom-color: lime;
    border-right-color: deeppink;
    border-left-color: aqua;
    border-top-color:  purple;
    border-width: 10px;
}

h3{

    font-weight: bold;
    font-size: xx-large;
    color: maroon;
}

div.row{
    align-content: center;
}

.navbar-inverse .navbar-brand {
    color: forestgreen;
   
}

p{
    color: blueviolet;
    font-style: italic;
}

